<!DOCTYPE html>
<html>
<head>
    <title>Edit Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Inventory</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Purpose</th>
                <th>Stock (000s)</th>
                <th>Demand Rate (000s/day)</th>
                <th>Lead Time (days)</th>
                <th>Reorder Cost (000s USD)</th>
                <th>Safety Stock (000s)</th>
            </tr>
            {% for subform in form.inventory %}
            <tr>
                <td>{{ subform.product_id }}</td>
                <td>{{ subform.product_name }}</td>
                <td>{{ subform.description }}</td>
                <td>{{ subform.purpose }}</td>
                <td>{{ subform.stock }}</td>
                <td>{{ subform.demand_rate }}</td>
                <td>{{ subform.lead_time }}</td>
                <td>{{ subform.reorder_cost }}</td>
                <td>{{ subform.safety_stock }}</td>

            </tr>
            {% endfor %}
        </table>
        {{ form.submit }}
    </form>
    <p><a href="/dashboard">View Dashboard</a> | <a href="/settings">Settings</a> | <a href="/logout">Logout</a></p>
</body>
</html>